@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-color: #212121;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* ORIGINAL */
  --shadow: #13242a;
  --link: #fb8c00;
  --link_light: #833500;
  --link_hover: #46849b;
  --border: #396c7f;
  --green: #519325;
  --blue: #214bca;
  --light_green: #63b42d;
  --brown: #5e3b00;
  --white: #fff;
  --red: #d32222;
  --input_background: rgb(24, 48, 57);
}

body::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: var(--link_hover);
}
