@font-face {
  font-family: 'EBGaramond';
  src: url('/font/EBGaramond08-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/font/EBGaramond08-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/font/EBGaramond12-Regular.ttf') format('truetype');
  font-weight: 500; /* You may need to adjust this value based on the actual weight of the font */
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/font/EBGaramond12-Italic.ttf') format('truetype');
  font-weight: 500; /* Adjust as needed */
  font-style: italic;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/font/EBGaramond12-AllSC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: 'smcp'; /* This is for small caps */
}

@font-face {
  font-family: 'EBGaramondSC';
  src: url('/font/EBGaramondSC08-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramondSC';
  src: url('/font/EBGaramondSC12-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/font/EBGaramond08-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EBGaramondInitials';
  src: url('/font/EBGaramond-Initials.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramondInitialsF1';
  src: url('/font/EBGaramond-InitialsF1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramondInitialsF2';
  src: url('/font/EBGaramond-InitialsF2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: var(--white);
  font-family: 'EBGaramond';
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'EBGaramond';
  background-color: var(--white);
  background: url('/images/logo_beige.png') center center no-repeat fixed cover !important;
}

:root {
  /* ORIGINAL */
  --shadow: #252422;
  --shadow2: #403d38;
  --shadow3: #ccc6ba;
  --link: #c3934c;
  --link_light: #833500;
  --link_hover: #46849b;
  --border: #396c7f;
  --green: #519325;
  --blue: #214bca;
  --light_green: #63b42d;
  --brown: #5e3b00;
  --white: #fffcf2;
  --red: #d32222;
  --input_background: rgb(24, 48, 57);
}

body::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  color: var(--link_hover);
}
